* {
  box-sizing: border-box;
}

html, body {
  font-family: 'Helvetica', 'Open Sans', sans-serif;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.element-enter {
  opacity: 0;
  transform: scale(0.9);
}

.element-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}

.element-exit {
  opacity: 1;
}

.element-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}

